/* for ie7, ie8 =============================================*/
/**** Author: Oleg Svetlov http://getsimplecms.ru/ ******/
body {
	line-height : 20px;
}
ul.tabs li a span {
	display : none;
}
.nav select {
	display : none;
}
#sidebar input.search-words {
	width : 60%;
}
.ie7 legend { 
	margin-left: -7px; 
}
.ie7 input[type="checkbox"] { 
	vertical-align: baseline; 
}
.ie7 img { 
	-ms-interpolation-mode: bicubic; 
}
.ie7 .row {
	margin-bottom: 0px;
}
.ie7 .container {
	width : 960px;
}
.ie7 [class*="col"] {
    margin : 0px 0.95% 20px;
}
.ie7 .next, .ie7 .prev {
	padding : 8px 5px 0;
}
.ie7 .prev {
	padding : 8px 3px 0 7px;
}
.nav ul li a {
	font-size : 14px;
}
.nav ul li ul > li a {
	padding : 8px 12px;
}
.nav ul li ul > li.current a, .nav ul li ul > li.currentpath a {
	background-color : #7D8A99;
}
.nav ul li ul li ul > li.current a, .nav ul li ul li ul > li.currentpath a {
	background-color : #7D8A99;
}
.cycle-slideshow .cycle-slide {
	height : 384px;
}
.cycle-slideshow .figcaption {
	top : 20%;
	left : 10%;
	width : 47%;
}
.cycle-slideshow .figcaption p {
    font-size:24px; 
	line-height : 34px;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:30px; 
	line-height : 36px;
}
.cycle-slideshow .figcaption p a.btn-theme {
    padding:12px 18px; 
	font : bold 13px/20px sans-serif;
}
#copy {
	background-color : #A55474;
}
.container {
	width : 960px;
}

