/*-- layout ------------------------------------ */
/* Author: Oleg Svetlov http://getsimplecms.ru/ */
iframe, object, embed {
	max-width:100% !important; 
}
.videoWrapper {
  position: relative;
  padding-bottom:56.25%;
  padding-top:25px;
  height:0;
  overflow:hidden;
}
.videoWrapper div,
.videoWrapper object,
.videoWrapper embed,
.videoWrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
img {
    max-width : 100%!important;
	height : auto!important;
}
.clearfix { 
	zoom: 1;  
	height : 0px;  
	clear : both;  
	visibility : hidden;   
}
.hidden {
  display: none;
  visibility: hidden;
}
#wrapper {
	width : 100%;
}
.container {
	margin : 0px auto;
	max-width : 1170px;
	width : 96%;
}
[class*="col-"] {
  display: inline;
  float: left;
  margin : 0px 1% 20px;
  min-height : 1px;
}
.row {
	margin : 0px 0px -10px;
}
[class*="col-"] .row {
	margin : 0px -1% -20px;
	overflow : hidden;
}
.right [class*="col-"] {
  float: right;
}
.right [class*="col-"] [class*="col-"] {
  float: left;
}
.col-1 {
	width : 6.3333333%;
}
.col-2 {
	width : 14.6666666%;
}
.col-3 {
	width : 23%;
}
.col-4 {
	width : 31.3333333%;
}
.col-5 {
	width : 39.6666666%;
}
.col-6 {
	width : 48%;
}
.col-7 {
	width : 56.3333333%;
}
.col-8 {
	width : 64.6666666%;
}
.col-9 {
	width : 73%;
}
.col-10 {
	width : 81.3333333%;
}
.col-11 {
	width : 89.6666666%;
}
.col-12 {
	width : 98%;
}

@media only screen and (max-width: 959px) {

.row .col-1 {
	width : 14.6666666%;
}
.row .col-2 {
	width : 31.3333333%;
}
.row .col-1:nth-child(7), .row .col-2:nth-child(4) {
	clear : left;
}
}
@media only screen and (max-width: 767px) {

#nav select {
    display: block;
}
#nav ul {
    display: none;
}
[class*="col-"] {
  width : 98%;
}
.col-3 {
	width : 48%;
}
.row .col-3:nth-child(3) {
	clear : left;
}
article .row [class*="col-"] {
	margin-bottom : 0px;
}
[class*="col-"] .row {
	margin-bottom : 0px
}
}	

@media only screen and (max-width: 361px) {

.row .col-1, .row .col-2, .row .col-3 {
	width : 98%;
}
.row .col-1:nth-child(7), .row .col-2:nth-child(4), .row .col-3:nth-child(3) {
	clear : none;
}
}