/*** Author: Oleg Svetlov http://getsimplecms.ru/ ***/
body{
	font-size : 13px;
}

@media only screen and (min-width: 1600px) {

body{
	font-size:15px;
	line-height : 25px;
}
}
@media only screen and (min-width: 1170px) and (max-width: 1599px)  {

body{
	font-size:14px;
	line-height : 22px;
}
}
@media only screen and (min-width: 960px) and (max-width: 1169px) {

body{
	font-size:13px;
	line-height : 20px;
}
.nav {
	top:10px; 
}
.nav ul li a {
	font-size : 14px;
	padding : 10px 1.2%;
}
.cycle-slideshow .cycle-slide {
	height : 384px;
}
.cycle-slideshow .figcaption {
	top : 20%;
	left : 10%;
	width : 47%;
}
.cycle-slideshow .figcaption p {
    font-size:24px; 
	line-height : 34px;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:30px; 
	line-height : 36px;
}
.gallery-thumb .figcaption h3 {
	font-size : 16px;
	margin-bottom : 5px;
	margin-top : 8%;
}
.gallery-thumb .figcaption p {
	font-size : 13px;
}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

body{
	font-size:12px;
	line-height : 18px;
}
#logo {
	font-size : 28px;
}
#header [class*="col-"] {
  width : 98%;
  margin-bottom : 0px;
}
.nav {
	top : auto;
	text-align : left;
	display : block;
}
.nav ul li a {
	padding : 5px 1.5%;
	font-size : 13px;
}
.cycle-slideshow .cycle-slide {
	height : 304px;
}
.cycle-slideshow .figcaption {
	position : absolute;
	top : 15%;
	left : 7%;
	width : 45%;
}
.cycle-slideshow .cycle-slide img {
	width : 30%;
}
.cycle-slideshow .figcaption p {
    font-size:22px; 
	line-height : 26px;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:26px; 
	line-height : 30px;
}
.gallery-thumb .figcaption h3 {
	margin-bottom : 5px;
	margin-top : 10%;
}
}

@media only screen and (max-width: 959px) {

#title {
	margin-bottom : 30px;
}
article th {
	font-size : 14px;
}
}
@media only screen and (max-width: 767px) {

body{
	font-size:12px;
	line-height : 18px;
}
.nav ul {
	display : none;
}
.nav select {
    display: block;
}
.nav {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width : 98%;
	left : 1%;
}
.nav select {
    font-size: 14px;
    padding: .5em;
    padding-right: 2.5em;	
    border: 0;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    width : 100%;
}
.nav::before,
.nav::after {
    content: "";
    position: absolute;
    pointer-events: none;
}
.nav::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
.nav::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.nav::after {
    color: rgba(0,0,0,.4);
}
.cycle-slideshow .cycle-slide {
	height : 250px;
}
.cycle-slideshow .figcaption {
	position : absolute;
	top : 25%;
	left : 10%;
	width : 50%;
}
.cycle-slideshow .cycle-slide img {
	width : 25%;
}
.cycle-slideshow .figcaption p {
    font-size:14px; 
	line-height : 20px;
	margin-bottom : 15px;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:18px; 
	line-height : 20px;
}
.cycle-slideshow .figcaption p strong {
    font-weight:300; 
}
#sidebar {
	padding-left : 0px;
}
#header {
	padding-bottom : 20px;
}
#index #header {
	padding-bottom : 0px;
}
#header .col-3{
	margin-bottom : 0px;
}
#logo {
	font-size : 30px;
	padding-left : 3%;
	padding-left : 0%;
}
h1 {
   font-size : 22px;
   line-height : 24px;
}
h2 {
   font-size : 20px;
   line-height : 22px;
}
h3 {
	font-size : 18px;
   line-height : 20px;
}
h4 {
   font-size : 16px;
   line-height : 18px;
}
#title {
	margin-bottom : 20px;
}
#title h1 {
	font-size : 22px;
}
.fl-right {
  float: none;
}
.fl-left {
  float: none;
}
article p img {
	width : 45%!important;
}
article p img.fl-right, #index article img.fl-right {
	width : 45%!important;
	float : right!important;
}
#copy {
	text-align : center;
	padding-bottom : 1px;
	margin-top : 20px;
}
#copy [class*="col"] {
  margin-bottom : 10px;
}
#copy .text-right{
	text-align : center;
}
article th {
	font-size : 13px;
}
}

@media only screen and (max-width: 639px) {

.cycle-slideshow .cycle-slide {
	height : 220px;
}
}

@media only screen and (max-width: 599px) {

.cycle-slideshow .cycle-slide {
	height : 200px;
}
}

@media only screen and (max-width: 567px) {

.cycle-slideshow .cycle-slide {
	height : 190px;
}
.cycle-slideshow .figcaption {
	top : 20%;
}
.cycle-slideshow .figcaption p {
    font-size:13px; 
	line-height : 16px;
	margin-bottom : 10px;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:14px; 
	line-height : 18px;
}
.cycle-slideshow .figcaption p strong {
    font-weight:300; 
}
}

@media only screen and (max-width: 532px) {

.gallery-thumb .figcaption h3{
	font-size : 16px;
	margin-bottom : 5px;
	margin-top : 10%;
}
}

@media only screen and (max-width: 479px) {

#index #header {
	margin-bottom : 60px;
}
#logo {
	font-size : 28px;
}
.cycle-slideshow .cycle-slide {
	height : 160px;
}
.cycle-slideshow .figcaption {
	top : 28%;
}
.cycle-slideshow .figcaption a.btn {
	display : none;
}
.cycle-slideshow .figcaption p {
    font-size:12px; 
	line-height : 15px;
	margin-bottom : 5px;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:13px; 
	line-height : 15px;
}
article p img {
	width : auto!important;
	margin-left : auto;
	margin-right : auto;
	float : none;
}
article p img.fl-right {
	float : none!important;
	width : auto!important;
	margin-left : auto;
	margin-right : auto;
}
article th, article td {
	padding : 5px 10px;
}
.over {
	width : auto!important;
	margin-right : 75px;
}
}

@media only screen and (max-width: 410px) {

article .col-0 {
	width : 98%;
}
article .col-0.text-right {
	text-align : left;
}
article th {
	font-size : 13px;
}
}
@media only screen and (max-width: 359px) {

.cycle-slideshow .cycle-slide {
	height : 115px;
}
.cycle-slideshow .figcaption {
	top : 45%;
}
.cycle-slideshow .figcaption p {
	display : none;
}
.cycle-slideshow .figcaption p:first-child {
    font-size:12px; 
	line-height : 14px;
	margin-bottom : 0px;
	display : block;
}
}

@media only screen and (max-width: 319px) {

body {
	overflow-x : hidden;
}
.cycle-slideshow .cycle-slide {
	height : 105px;
}
.cycle-slideshow .figcaption {
	top : 35%;
}
article th {
	font-weight : normal;
}
}